@mixin appearance($value: none) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin triangle($format: 'bottom', $color: 'blue') {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;

  @if $format == 'bottom' {
    border-width: 2rem 2rem 0 2rem;
    border-color: color($color) transparent transparent transparent;
  }

  @if $format == 'right' {
    border-width: 3rem 0 3rem 4rem;
    border-color: transparent transparent transparent color($color);
  }
}
